{
    "presets": ["react-native"],
    "env": {
      "development": {
        "plugins": ["transform-react-jsx-source", "babel-plugin-transform-class-properties", "syntax-class-properties"]
      }
    }
  }
  